{% extends 'base.html' %} {% load static %} {% block title %} Amlaan Rivercorp
{%endblock title %} {% block body %}<!-- ======= Hero Section ======= -->

<section id="hero" class="d-flex align-items-center">
  <video id="vid" width="100%"  src="/static/images/RealisticEarthSpinninginSpaceVidevo.mov" autoplay loop muted ></video>
  
 
</section>
<!-- End Hero -->
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div  class="container">
      <div class="row">
        <div  class="col col-lg-4 order-2 order-lg-2" data-aos="fade-left">
          <div class="col">
            <video type="video/mov" height="85%" width="90%"src="/static/images/About_vid.mov" autoplay loop muted></video>
          </div>
                   {% comment %} <img src="/static/images/about.jpg" class="img-fluid" alt=""> {% endcomment %}
        </div>
        <div
          class="col-lg-8 pt-4 pt-lg-0 order-5 order-lg-1 content"
          data-aos="fade-right"
        >
          <h1>
           Providing an efficient solution to ensure OUR future.
          </h1>
          <p class="fst-italic">
            Pure and clean water is the world's first and foremost medicine.
          </p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i> Rivers filled with plastic and organic waste.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Clogged waterways, unhygienic surroundings and health hazards.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Rapidly dying reusable freshwater reserves.
            </li>
          </ul>
          <p>
            We proudly speak about the precious water bodies which rejuvenate and outlines the distinct beauty of our entire world. They are the primary source of nearly everything, be it in industrial jobs, residential uses, medical purposes, farming and irrigation, business, fishing, and whatnot. With its so obvious use or the most complex tasks, they are getting polluted drastically. The rate of this pollution is rising at an alarming rate which does call for a need to keep pollution in check so that these rivers don't get completely unusable and lose their significance.
 
          </p>
          <p>We at Amlaan RiverCorp have designed a river or rather any water body cleaning vessel, which will help battle the physical and evident pollution in the water bodies. Not only the battle of pollution, but it will also generate employment opportunities for people as vessel skippers, cleaners, and maintenance workmen in a significant number which we need at the most in the post-Covid era.
          </p>
          <p>
            "Modern problems require modern solutions" - Anonymous OG
            <br>Hence we at Amlaan RiverCorp aim to propel towards prosperity using innovation gained from an unwaivered drive to bring a change, that matters.
          </p>

        <p>
          As entrepreneurs in the field of Naval Architect and Ocean Engineering, it pushes us to create an impact on the world with our work and a business which will produce the results which our rivers, seas, oceans and people are in extreme need of.

        </p>
        <p>
          “The way to get started is to quit talking and begin doing.” - Walt Disney
        </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" data-aos="fade-up">
          <div class="box">
            <h2>Optimise</h2>
            <p>
Improvising technology to get the most optimised results using modern engineering.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <div class="box">
            <h2>Purify</h2>
            <p>
             Extract, cleanse and make alternate use of wastes to tap into sustainability.
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="box">
            <h2>Sanctify</h2>
            <p>
              Creating a difference, setting apart, consecrating and bringing in change . 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
      <div class="row d-flex align-items-center">
        <div class="col-lg-4 col-md-4 col-3">
          <img
            src="/static/images/clients/MagicLogo.png"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="col-lg-4 col-md-4 col-3">
          <img
            src="/static/images/clients/hdfcLogo.png"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="col-lg-4 col-md-4 col-3">
          <img
            src="/static/images/clients/xsmLogo.png"
            class="img-fluid"
            alt=""
          />
        </div>

        {% comment %} <div class="col-lg-2 col-md-4 col-6">
          <img
            src="/static/images/clients/client-4.png"
            class="img-fluid"
            alt=""
          />
        </div> {% endcomment %}

        

        
      </div>
    </div>
  </section>
  <!-- End Clients Section -->
  <!-- ======= Services Section ======= -->
  {% comment %} <section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <span>Future Endeavours</span>
        <h2>Future Endeavours</h2>
        <p>
These are the areas we are working in or will, in the future!        </p>
      </div>

      <div class="row">
        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch"
          data-aos="fade-up"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Sed ut perspiciatis</a></h4>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Magni Dolores</a></h4>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="fade-up"
          data-aos-delay="450"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Nemo Enim</a></h4>
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Dele cardo</a></h4>
            <p>
              Quis consequatur saepe eligendi voluptatem consequatur dolor
              consequuntur
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="fade-up"
          data-aos-delay="750"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Divera don</a></h4>
            <p>
              Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit
              aspernatur
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
  <!-- End Services Section -->
  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="text-center">
        <h3>Call To Action</h3>
        <p>
          An umbrella does not stop the rain but gives one the power to withstand it. Confidence to bring a change may not bring success, but it helps us face every challenge!
        </p>
        {% comment %} <a class="cta-btn" href="#">Call To Action</a> {% endcomment %}
      </div>
    </div>
  </section>
  <!-- End Cta Section -->
  
   <!-- ======= Pricing Section ======= -->
   

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container ">

      <div class="section-title">
        <span>Team</span>
        <h2>Team</h2>
        <p>Meet the team!</p>
      </div>

      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="/static/images/team/ceoImg.jpg" alt="">
            <h4>Shrijan Praveen Tayde</h4>
            <span>Chief Executive Officer</span>
            <p>
              We do tomorrow's work today. That is how we stay ahead of the crowd.
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="/static/images/team/ctoImg.jpeg" alt="">
            <h4>Tamoghno Banerjee</h4>
            <span>Chief Technical Officer</span>
            <p>
              It is who dare to think beyond and put in the work are the ones that break all human limitations.
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        {% comment %} <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="/static/images/team/team-3.jpg" alt="">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div> {% endcomment %}

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <span>Contact</span>
        <h2>Contact</h2>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <h4>Plot No.1, Reshimbaug, Near Venus Volleyball ground, Nagpur - 440024</h4>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Email Us</h3>
            <h4>sriijantayde01@gmail.com</h4>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>Call Us</h3>
            <h4>+91-8412828144</h4>
          </div>
        </div>

      </div>

      <div class="row" data-aos="fade-up">

        <div class="col-lg-6 ">
          <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
        </div>

        <div class="col-lg-6">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
           <strong>Message: </strong> {{message}}
          </div>
          {% endfor %}
          <form action="/contact" method="post" role="form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" id="name" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" id="message"name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            
            <div class="text-center"><button type="submit" class="btn btn-dark">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBy5xqZ8ajLtGekQSghS8kzJ3SzUYwC2go",
    authDomain: "amlaansite.firebaseapp.com",
    projectId: "amlaansite",
    storageBucket: "amlaansite.appspot.com",
    messagingSenderId: "63462117203",
    appId: "1:63462117203:web:aa297efe10722536291ba6",
    measurementId: "G-EVFX97PFNE"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

  {% endblock body %}
</main>
